* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

body {
      height: 100vh;
      font-family: 'Dancing Script', cursive;
      color: #ffffff;
}

#layover {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.4);
}

@keyframes myTitle {
      0% {
            opacity: 1;
      }
      50% {
            opacity: 0.5;
      }
      100% {
            opacity: 1;
      }
}

h1 {
      font-size: 70px;
      text-transform: uppercase;
      animation: myTitle 3s linear infinite;
}

p {
      font-size: 50px;
}

input {
      text-align: center;
      border: none;
      font-family: 'Dancing Script', cursive;
      font-size: 30px;
      outline: none;
      background-color: rgba(0, 0, 0, 0);
      animation: myTitle 3s linear infinite;
}

::placeholder {
      color: #ffffff;
      opacity: 1;
}

img {
      width: 100%;
      height: 100vh;
}

button {
      border: none;
      cursor: pointer;
      font-family: 'Dancing Script', cursive;
      font-size: 50px;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0);
      animation: myTitle 3s linear infinite;
}